<div class="container">
  <div class="dropdown">
    <a class="dropdown-trigger btn" href="#" data-target="dropdown1"
      >Best Scores Competition by Name</a
    >
    <ul id="dropdown1" class="dropdown-content">
      <li data-value="2001" class="option-dropdown">UEFA Champions League</li>
      <li data-value="2002" class="option-dropdown">Bundesliga</li>
      <li data-value="2003" class="option-dropdown">Eredivisie</li>
      <li data-value="2021" class="option-dropdown">Premier League</li>
      <li data-value="2014" class="option-dropdown">Primera Division</li>
      <li data-value="2015" class="option-dropdown">Ligue 1</li>
    </ul>
  </div>
  <div class="score-title"></div>
  <div class="container-table"></div>
</div>
