<ul class="slides">
  <li>
    <img src="assets/img/hero1.jpg" alt="hero-picture" class="hero-picture" />
    <div class="overlay" id="o1"></div>
    <!-- random image -->
    <div class="caption center-align">
      <h3>Welcome to Soccer News!</h3>
      <h5 class="light grey-text text-lighten-3">
        Let's find your favourite team in here.
      </h5>
    </div>
  </li>
  <li>
    <img src="assets/img/hero2.jpg" alt="hero-picture" />
    <div class="overlay" id="o2"></div>
    <!-- random image -->
    <div class="caption left-align">
      <h3>Let's, check out today's match!</h3>
      <h5 class="light grey-text text-lighten-3">
        Many teams will compete today, and maybe your favorite team too.
      </h5>
    </div>
  </li>
  <li>
    <img src="assets/img/hero3.jpg" alt="hero-picture" />
    <div class="overlay" id="o3"></div>
    <!-- random image -->
    <div class="caption right-align">
      <h3>Find the player with the most scores!</h3>
      <h5 class="light grey-text text-lighten-3">
        Many players occupy the top positions this season, and maybe your
        players too.
      </h5>
    </div>
  </li>
  <li>
    <img src="assets/img/hero4.jpg" alt="hero-picture" />
    <div class="overlay" id="o4"></div>
    <!-- random image -->
    <div class="caption center-align">
      <h3>Find out detailed team and player info!</h3>
      <h5 class="light grey-text text-lighten-3">
        You can also find out detailed team information and also detailed player
        information.
      </h5>
    </div>
  </li>
</ul>
